<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Score Predictor</title>
    <link rel="stylesheet" href="static/styles.css"> <!-- Link the external CSS file -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    
  </head>
<body>
  <nav>
    <ul>
      <li>
        <h2 class="score-predictor-heading">Score Predictor</h2></li>
        <li> <a href="https://app.powerbi.com/view?r=eyJrIjoiOWNhY2MxNjUtMjIwYi00YzA5LTgwNWUtYzc0Mzg4Y2U0ZTZlIiwidCI6ImVhMWUyYzgyLTAwZTItNGY5OS05Y2Q0LTRlNDY0OWZlNTczNyJ9&pageName=ReportSection" class="btn btn-primary link  me-3">Go to Dashboard</a></li>
    </ul>
  </nav>


    <div class="color-transition" id="text-container">
        <span class="hidden">C</span>
        <span class="hidden">r</span>
        <span class="hidden">i</span>
        <span class="hidden">c</span>
        <span class="hidden">k</span>
        <span class="hidden">e</span>
        <span class="hidden">t</span>
        </div>

    <div id="drop">
    <div class="dropdown">
        <label for="dropdown1">Select Your Team:</label>
        <div class="btn-group">
            <button type="button" class="btn btn-secondary " data-bs-toggle="dropdown" aria-expanded="false">
              <select id="team-dropdown" onchange="fetchPlayers()">
                  <option value="" selected disabled>Select a team</option>
              </select>
            </button>
            
          </div>
          
    </div>

    <div class="dropdown">
            <div class="btn-group">
            <button type="button" class="btn btn-secondary " aria-expanded="false">
              <div class="container">
                <h6>Select Players</h6>
                  <div class="form-group"  id="checkboxContainer"></div>
              </div>
            </button>

          </div>
    </div>


    
  <div class="dropdown">
    <label for="dropdown1">Select Opponent Team:</label>
    <div class="btn-group">
      
      <button type="button" class="btn btn-secondary " data-bs-toggle="dropdown" aria-expanded="false">
      <select id="opposition-dropdown" onchange="fetchGround()">
        <option value="" selected disabled>Select a team</option>
      </select>
    </div>
  </div>
  



    <div class="dropdown">
        <label for="dropdown3">Select Ground:</label>
        <div class="btn-group">
            <button type="button" class="btn btn-secondary " data-bs-toggle="dropdown" aria-expanded="false">
              <label for="ground-dropdown">Select Ground:</label>
              <select id="ground-dropdown" onchange="enableSubmitButton()" >
                  <option value="" selected disabled>Select a ground</option>
              </select>
            </button>

          </div>
    </div>
</div>

<div class="d-flex justify-content-center mt-5"> <!-- Center the Predict button -->
  <button id="submit-button" class="btn btn-success" onclick="submitSelection()">Predict</button>
</div>

<table id="playerTable">
  <thead>
    <tr>
      <th scope="col">Player</th>
      <th scope="col">Runs</th>
      <th scope="col">Balls</th>
    </tr>
  </thead>
  <tbody>
    <!-- Rows will be generated dynamically using JavaScript -->
  </tbody>
</table>


<!-- Include Bootstrap JS and jQuery (required for Bootstrap features) -->
<script src="https://code.jquery.com/jquery-3.6.0.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.min.js"></script>


<script src="static/index.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
</body>
</html>
